*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Work Sans', sans-serif;;
}



/*nav-section style start*/


.navbar-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1940px;
    margin-top: 20px;
}

.gamer-img{
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
font-size: 2.8rem;
font-weight: 700;
}

.g{
    color:  #FF42A5;
}

nav > ul {
    display: flex;
    align-items: center;
    
}

nav li{
    list-style: none;
   
}

nav a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}


.follow-us{
    display: flex;
    align-items: center;
    margin-right: 200px;
    margin-left: 0;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 262px;
    height: 56px; 
    gap: 30px;
}

.follow-title{
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 30px;
}

.nav-about{
     margin-left: 400px;
     gap: 50px;
}

.follow-btn{
    margin-right: 50px;
    border: 0;
    border-radius: 9px;
    padding:20px;
    align-items: center;
    display: flex;
    gap: 15px;
    color: #3C354F;
    text-align: center;
    font-size:1.2rem;
    font-weight: 500;
}

/*nav-section style end*/

/*banner-section style start*/

.banner-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
}

.banner-container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    
}

.banner-section ul{
    list-style: none;
    display: flex;
    flex-direction:column;
    gap: 12px;
    margin-bottom: 20px;
}



.banner-title{
    color: #0B0223;
    text-align: center;
    font-size:3rem;
    font-weight: 600;

}

.banner-title2{
    text-align: center;
    font-size:6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}



.banner-list li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.banner-button{
    display: flex;
    gap: 10px;
    
}
.btn1 {
    padding: 21px 40px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 20px;
    border-radius: 48px;
}

.btn2{
    padding: 21px 40px;
    background-color: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 20px;
    border-radius: 48px;
}


.group-18 img{
    width: 100%;
}
/*banner section style end*/

/*optional mark section style start*/
.optional{
    background-color:  rgb(252,251,254);
}

.optional-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.optional-head{
    text-align: right;
    font-size:3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.optional-info{
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.know-btn{
    border: 0;
    padding: 1.31rem 2.5rem;
    color: #FFF;
    font-size:  1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-bottom: 20px;
}

.content-bt{
    text-align: right;
}

.purpose{
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
}

.optional-end{
    color: #534C64;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

.content-img img{
    width: 100%;
}

/*optional mark section style end*/

/* mainn game hover part start*/

.online-game-title{
    color: #0B0223;
    text-align: center;
   font-size: 3rem;
   font-weight: 700;
}

.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}

.online-game-description{
    color: #534C64;
text-align: center;
font-size: 1.125rem;
font-weight: 500;
line-height: 30px; /* 166.667% */
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding-left: 100px;
  
}

.game-card img{
    position: relative ;
}

.game-card > img:hover{
    border: 5px solid  #F948B2 ;
    border-radius: 20px;
}


  .game-card:hover .image-overlay{
    display: block;
   
   }

   .game-card:hover .game-img {
    border: 5px solid #F948B2;
    border-radius: 20px;
    filter: brightness(30%); /* Apply a slight darkening effect on hover */
  }

.game-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*main game hover part end*/


/*overlay section start*/
.overlay-section{
    margin-bottom: 190px;
}

.overlay-container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap:150px;
}

.overlay-text{
    text-align: right;
    width: 350px;
  }

  .overlay-title{
    font-size:  3rem;
    font-weight: 700;
    line-height: 60px;
    }

    .overlay-details{
        color: #534C64;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 30px; 
      }

      .overlay-img{
        width: 550px;
        position: relative;
      
      }

      .overlay-img > img{
        width: 100%; 
      
      }

      .over-img {
        width: 40%;
        position: absolute;
        bottom: -120px;
        left: -110px;
      } 

/*overlay section2 start*/

      .overlay-section2{
        margin-bottom: 190px;
      }
      .overlay-container2{
        width: 80vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
      }
      .overlay-text2{
        text-align: left;
        width: 350px;
      }
      .overlay-title2{
      font-size:  3rem;
      font-weight: 700;
      line-height: 60px;
      }
      .overlay-details2{
        color: #534C64;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 30px; 
      }
      .overlay-img2{
        width: 550px;
        position: relative;
      
      }
      .overlay-img2 > img{
        width: 100%; 
      
      }
      .over-img2 {
        width: 40%;
        position: absolute;
        bottom: -120px;
        right: 10px;
      } 

.instantly{
    color: #F948B2;
}


/*footer section start*/


.footer-container{
    padding-top: 140px;
    background: #0B0223;
    padding-bottom: 140px;
}
.footer-content{
    gap: 30px;
}
.ga{
    color: #F948B2;
    font-size: 2.8rem;
}
.amer{
    color: #FFF;
    font-size: 2.8rem;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.footer-list{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.footer-list li {
    list-style: none;
    color: #FFF;
    font-size: 1.1.25rem;
    font-weight: 600;
}

.footer-logo{
    margin-top: 30px;
    gap: 50px ;
    display: flex;
    justify-content: center;
}

.info-list{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
 
}

.footer-info li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.info-details{
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
}







/*small device responsive*/

@media screen and (max-width:576px) {
    .navbar-section{
        display: grid;
        flex-direction: column;
        align-items: center;

    }

    .gamer-img{
        margin: 0 100px ;
    }
    .nav-about{
       
        flex-direction: column;
        margin: 20px 30px;
        gap: 20px;
    }

    li a{
        font-size: 0.8rem;
    }
    .follow-btn{
        font-size: 0.8rem;
        margin: 0 30px;
        padding: 5px;
        gap: 10px;
    }
    .banner-container{
        flex-direction: column;
        gap: 50px;
    }
    .group-18{
        width: 100%;
    }

    .banner-title{
        font-size: 1rem;
        text-align: center;
    }
    .banner-title2 {
        font-size: 3rem;
        text-align: center;
    }

    .banner-list{
        padding-left: 80px;
    }

    .banner-button{
        margin-left: 60px;
        margin-bottom: 20px;
       
    }
   .btn1 , .btn2{
    padding: 10px;
    }

    .optional-container {
        flex-direction: column;
    }

    .optional-head , .overlay-title{
        font-size: 3rem;
    }

    .optional-info , .optional-head , .content-bt{
        text-align: center;
    }

    .know-btn{
        font-size: 1rem;
        padding: 10px;
    }

    .purpose{
        font-size: 1.2rem ;
        text-align: center;
    }

    .optional-end{
        font-size:1.6rem ;
        text-align: center;
    }
    .online-game-title , .funny {
        font-size: 1.5rem;
    }


    .online-game-description , .optional-info , .overlay-details {
       font-size: 1rem
    }

   
    .game-container{
        grid-template-columns: 1fr;
        padding: 0 50px;
    }

    .footer-container , .footer-list{
      flex-direction: column;
    }

    .footer-list{
        gap: 15px;
        align-items: center;
    }

    .footer-logo{
        gap: 15px;
    }

    .info-list{
        gap: 10px;
        margin-left: 20px;
    }


    .overlay-container{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .overlay-img{
        width: 100%;
    }

    .over-img > img{
        width: 150%;
    }
     
    .over-img{
        padding-left: 50px;
    }